@import url('https://fonts.googleapis.com/css?family=Prompt:300');
body {
    font-family: 'Prompt', sans-serif !important;
}

.top-head {
    background-color: #0072bb;
    padding: 5px 0px;
    color: #FFF;
    a {
        color: #FFF;
    }
}

.middle-head {
    padding: 20px 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-collapse {
    padding: 0px;
}

.navbar-default .navbar-nav>li>a {
    border-left: 1px dashed #DDDDDD;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:focus,
    &:hover,
    &.active {
        background: #0072bb;
        border-left: 1px dashed #FFF;
        color: #FFF;
    }
}

.media-bg {
    &_blue {
        background: #0072bb;
        padding: 10px;
        color: #FFF;
    }
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0;
    border: 0px;
    left: 0px;
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.pagin-sub-series {
    position: relative;
    padding: 40px 0px;
}

.pagin-sub-series .pagin-sub-line-series-left {
    min-height: 1px;
    border-bottom: 1px solid #0072bb;
    width: 5%;
    margin-left: 32%;
    float: left;
    padding-top: 9px;
}

.pagin-sub-series h2 {
    font-size: 25px;
    line-height: 20px;
    margin: 0;
    width: 26%;
    text-transform: uppercase;
    float: left;
    color: #163e58;
    text-align: center;
}

.pagin-sub-series .pagin-sub-line-series-right {
    min-height: 1px;
    border-bottom: 1px solid #0072bb;
    width: 5%;
    margin-right: 32%;
    float: right;
    padding-top: 9px;
}

.btn {
    &-shop {
        color: white;
        background-color: #0066b3;
        border: 0px;
        border-radius: 0px;
        font-size: 12px;
        &:hover {
            color: #FFF;
        }
    }
    &-cart {
        display: block;
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    &-cart span {
        background: #0072bb url(../../images/add-card.png) center center no-repeat !important;
        display: block;
        text-indent: -9999px;
        width: 100%;
        height: 30px;
        padding: 0 2px !important;
    }
}

.thumbnail {
    border-radius: 0px;
}

table.table-list {
    margin: 30px 0px;
    width: 100%;
}

footer {
    background: #95d4ff;
    margin-top: 30px;
    padding-bottom: 20px;
}

.copyright {
    background-color: #003f67;
    color: #FFF;
    address {
        font-size: 12px;
        padding: 3px 0px;
        margin: 0px;
    }
}

// cart
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}




.calcula {
    background: url('../../images/calculation-quality.jpg') no-repeat left center; 
    min-height: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
}


@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}

// news
.news {
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #eaeaea;
    margin-bottom: 15px;
}

.news .img-figure {
    position: relative;
}

.news .img-figure img {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.news:hover .img-figure img {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

.news .title {
    /*padding: 29px 30px;*/
    padding: 45px 30px;
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.news .title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    /*  color: #3D6AA2;*/
    text-align: center;
}

.news:hover .title {
    margin-top: -90px;
    background: #fff;
}

.news p.description {
    position: relative;
    font-weight: normal;
    line-height: 22px;
    opacity: 0;
    text-align: center;
    padding: 15px 30px 0px 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.news:hover p.description {
    opacity: 1;
}

p.more {
    text-align: center;
}

.more a {
    position: relative;
    font-size: 13px;
    margin-top: 30px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: #28998b;
}

.more a:after {
    content: '';
    width: 18px;
    height: 1px;
    position: absolute;
    left: 35px;
    top: 9px;
    background: #28998b;
    vertical-align: middle;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.news:hover a:after {
    width: 60px;
}

// product
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #e5f4ff;
    border-radius: 0px;
}

.product-shop {
    color: #2c4a7e;
    font-size: 14px;
}

.full {
    display: block;
}

.product-name {
    margin: 0 0 13px;
    border-bottom: 1px solid #cad2df;
    padding-bottom: 8px;
}

// hover
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect img {
    width: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

ul.thumbnails {
    overflow: hidden;
    margin: 1em 0;
    padding: 0;
    text-align: center;
    li {
        display: inline-block;
        width: 135px;
        margin: 5px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

@media (max-width: 700px) {
    .pagin-sub-series .pagin-sub-line-series-left {
        margin-left: 20%;
    }
    .pagin-sub-series h2 {
        width: 50%;
    }
    .pagin-sub-series .pagin-sub-line-series-right {
        margin-right: 20%;
    }
}
